/* add css module styles here (optional) */

.planner {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.rowContent {
    display: flex;
    flex-grow: 1;
}

.FirstXCol {
    display: flex;
    width: 34px;
    height: 80px;
    position: sticky;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.FirstXLabelRow {
    display: flex;
    flex-grow: 1;
    left: 34px;
    height: 80px;
}

.yLabel {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}